In [ ]:
import sys
import os
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), '..')))

from src.loader import load_data
from src.features import engineer_features


# ✅ Use correct path from notebooks/
df = load_data(
    ops_path='../data/operations_daily_365d.csv',
    meta_path='../data/site_meta.csv'
)

df = engineer_features(df)
df.head()

,date,site_id,units_produced,downtime_minutes,power_kwh,rework_units,defects_ppm,staff_count,material_cost_per_unit,price_per_unit,...,site_age,day_of_week,is_weekend,month,units_produced_lag1,units_produced_rolling7,units_produced_rolling14,power_kwh_lag1,power_kwh_rolling7,power_kwh_rolling14
14,2025-01-15,S1,1383,69,4637,37,406,58,72.21,96.34,...,7,2,0,1,1242.0,1237.142857,1169.428571,4029.0,4408.142857,4146.357143
15,2025-01-16,S1,1176,58,3857,21,536,54,71.93,96.30,...,7,3,0,1,1383.0,1250.571429,1176.785714,4637.0,4460.000000,4176.785714
16,2025-01-17,S1,1373,94,4991,34,250,55,72.07,96.16,...,7,4,0,1,1176.0,1219.571429,1171.571429,3857.0,4383.285714,4061.500000
17,2025-01-18,S1,0,0,0,0,0,0,0.00,0.00,...,7,5,1,1,1373.0,1240.000000,1186.571429,4991.0,4505.857143,4119.571429
18,2025-01-19,S1,1126,67,3652,16,413,54,71.89,95.99,...,7,6,1,1,0.0,1073.142857,1090.285714,0.0,3934.571429,3794.285714

In [4]:
# View engineered feature columns
df.columns

Index(['date', 'site_id', 'units_produced', 'downtime_minutes', 'power_kwh',
       'rework_units', 'defects_ppm', 'staff_count', 'material_cost_per_unit',
       'price_per_unit', 'temperature_c', 'rainfall_mm', 'holiday_flag',
       'region', 'commissioned_year', 'shift_hours_per_day', 'site_age',
       'day_of_week', 'is_weekend', 'month', 'units_produced_lag1',
       'units_produced_rolling7', 'units_produced_rolling14', 'power_kwh_lag1',
       'power_kwh_rolling7', 'power_kwh_rolling14'],
      dtype='object')

In [5]:
# Check for any missing values
df.isna().sum()

date                        0
site_id                     0
units_produced              0
downtime_minutes            0
power_kwh                   0
rework_units                0
defects_ppm                 0
staff_count                 0
material_cost_per_unit      0
price_per_unit              0
temperature_c               0
rainfall_mm                 0
holiday_flag                0
region                      0
commissioned_year           0
shift_hours_per_day         0
site_age                    0
day_of_week                 0
is_weekend                  0
month                       0
units_produced_lag1         0
units_produced_rolling7     0
units_produced_rolling14    0
power_kwh_lag1              0
power_kwh_rolling7          0
power_kwh_rolling14         0
dtype: int64

In [10]:
from src.models import forecast_prophet
# Set parameters
site_id = 'S1'
target = 'units_produced'

# Forecast
forecast_df, model = forecast_prophet(df, site_id, target, periods=14)
forecast_df.head()

c:\Users\loges\logic_leap_project\.venv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
Importing plotly failed. Interactive plots will not work.
18:06:21 - cmdstanpy - INFO - Chain [1] start processing
18:06:23 - cmdstanpy - INFO - Chain [1] done processing

            ds         yhat  yhat_lower   yhat_upper site_id          target
351 2026-01-01  1300.618204  828.832021  1726.148108      S1  units_produced
352 2026-01-02  1279.166718  848.254623  1721.591862      S1  units_produced
353 2026-01-03  1197.112146  783.484419  1598.827589      S1  units_produced
354 2026-01-04  1036.822574  618.479523  1455.241097      S1  units_produced
355 2026-01-05  1248.055214  806.294658  1668.912388      S1  units_produced